In [1]:
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/weather_bigdata_contest/code

/content/drive/MyDrive/weather_bigdata_contest/code

In [2]:
import pandas as pd
import datetime as dt
from sklearn.model_selection import train_test_split

In [4]:
sale_df = pd.read_csv('/content/drive/MyDrive/weather_data/sales_data.csv')
weather_df = pd.read_csv('/content/drive/MyDrive/weather_data/weather_final.csv', encoding = 'CP949')

In [5]:
# 병합하려고 했는데 날짜 column name이 달라서 '날짜'로 통일
weather_df.rename(columns = {'일시':'날짜'}, inplace = True)

In [6]:
# pandas의 merge_asof method 사용하여 '날짜'를 기준으로 합치는 방법 사용하려고 했는데, '날짜'의 type이 str이라서 integer나 float으로 변경 필요
# pandas의 to_datetime method를 사용하여 type 변경
sale_df['날짜'] = pd.to_datetime(sale_df['날짜'], format='%Y-%m-%d')
sale_df = sale_df.sort_values('날짜')
weather_df['날짜'] = pd.to_datetime(weather_df['날짜'], format = '%Y-%m-%d')
weather_df = weather_df.sort_values('날짜')

In [7]:
# df 순서를 바꾸면 안됨
sale_and_weather_df = pd.merge_asof(sale_df, weather_df, on='날짜', allow_exact_matches=True)

In [8]:
sale_and_weather_df.head()

          날짜  대분류_냉난방가전  ...  최소 상대습도 시각(hh)23  강수 계속시간(hr)
0 2018-01-01          0  ...               0.0          0.0
1 2018-01-01          0  ...               0.0          0.0
2 2018-01-01          0  ...               0.0          0.0
3 2018-01-01          0  ...               0.0          0.0
4 2018-01-01          0  ...               0.0          0.0

[5 rows x 533 columns]

In [9]:
sale_index = list(sale_df.columns[1:])
only_sale_df = sale_and_weather_df[sale_index]
sale_and_weather_df.drop(sale_index, axis = 1, inplace = True)
sale_and_weather_df = pd.concat([sale_and_weather_df, only_sale_df], axis = 1)

In [10]:
sale_and_weather_df.head()

          날짜  평균기온(°C)  최저기온(°C)  ...  50대 여성 선호도 점수  60대 남성 선호도 점수  60대 여성 선호도 점수
0 2018-01-01  0.066157 -3.463993  ...       0.042386            0.0            0.0
1 2018-01-01  0.066157 -3.463993  ...       0.071171            0.0            0.0
2 2018-01-01  0.066157 -3.463993  ...       0.000000            0.0            0.0
3 2018-01-01  0.066157 -3.463993  ...       0.079309            0.0            0.0
4 2018-01-01  0.066157 -3.463993  ...       0.046203            0.0            0.0

[5 rows x 533 columns]

In [11]:
month_df = pd.DataFrame(pd.get_dummies(sale_and_weather_df['날짜'].dt.month))
month_df.columns = [str(i) + '월' for i in range(1, 13)]

In [12]:
sale_and_weather_df.drop(['날짜', '대분류_냉난방가전', '대분류_뷰티', '대분류_식품'], axis = 1, inplace = True)
sale_and_weather_df = pd.concat([month_df, sale_and_weather_df], axis = 1)

In [13]:
sale_and_weather_df.head()

   1월  2월  3월  4월  ...  50대 남성 선호도 점수  50대 여성 선호도 점수  60대 남성 선호도 점수  60대 여성 선호도 점수
0   1   0   0   0  ...       0.000000       0.042386            0.0            0.0
1   1   0   0   0  ...       0.135208       0.071171            0.0            0.0
2   1   0   0   0  ...       0.815975       0.000000            0.0            0.0
3   1   0   0   0  ...       0.050223       0.079309            0.0            0.0
4   1   0   0   0  ...       0.175548       0.046203            0.0            0.0

[5 rows x 541 columns]

In [15]:
# csv 파일로 저장
sale_and_weather_df.to_csv('sale_weather_data.csv', index = False)

In [16]:
X_df = sale_and_weather_df.iloc[:, :-22]

In [17]:
X_df.head()

   1월  2월  3월  4월  5월  ...  소분류_황토매트  소분류_회  소분류_휴대용 선풍기  소분류_흰우유  소분류_히터
0   1   0   0   0   0  ...         0      0            0        0       0
1   1   0   0   0   0  ...         0      0            0        0       0
2   1   0   0   0   0  ...         0      0            0        0       0
3   1   0   0   0   0  ...         0      0            0        0       0
4   1   0   0   0   0  ...         0      0            0        0       0

[5 rows x 519 columns]

In [18]:
y_df = sale_and_weather_df.iloc[:, -22:]
y_df.head()

   20대 남성 판매량(개)  20대 여성 판매량(개)  ...  60대 남성 선호도 점수  60대 여성 선호도 점수
0           13.0           37.0  ...            0.0            0.0
1            0.0            4.0  ...            0.0            0.0
2            0.0            0.0  ...            0.0            0.0
3            1.0            2.0  ...            0.0            0.0
4            1.0            1.0  ...            0.0            0.0

[5 rows x 22 columns]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size = 0.3, shuffle = True, random_state = 1004)

In [20]:
X_train.to_csv('X_train.csv', index = False)
X_test.to_csv('X_test.csv', index = False)
y_train.to_csv('y_train.csv', index = False)
y_test.to_csv('y_test.csv', index = False)